entrypoint = "app.py"
modules = ["python-3.10:v18-20230807-322e88b", "python-3.10:v25-20230920-d4ad2e4"]
hidden = [".pythonlibs", "src"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
